/* Botonsito color */

.btn-btn-primary:hover {
    background-color: #919191;
  }
  
  .btn-btn-primary {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .btn-btn-danger:hover {
    background-color: #919191;
  }
  